<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#dashboard"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="painel painel-default" >
        <!-- Small boxes (Stat box) -->
        <div class="row">
            Aguardando Colaboradores
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">

        </div><!-- /.row -->

    </div>
</section>