/server/target/
/server/nb-configuration.xml
/server/.classpath
/server/.project
/server/.settings/
/server/nbactions-tomcat7.xml

/view/app/nbproject/private/
/view/node_modules
/view/dist
/view/.tmp
/view/.sass-cache
/view/bower_components
/view/nbproject/private/

/mobile/bower_components/
/mobile/node_modules/
/mobile/.tmp/
/mobile/.DS_Store
/mobile/*.log
/mobile/*.keystore
/mobile/*.sw*
/mobile/platforms/
/mobile/plugins/
/mobile/nbproject/private/
/biblia/target/