<div class="main-section">
    <h3 class="main-section__title">Busca Logradouro</h3>
    <div  flex-container="row" flex-gutter="9">
        <div flex-item>
            <select ng-options="item.ufeSg as item.ufeNo for item in ufs track by item.ufeSg" ng-model="selected"></select>
            <lx-text-field label="Logradouro" >
                <input type="text" class="form-control" ng-model="texto" ng-enter="get(texto)">
            </lx-text-field>
        </div>
    </div>
    <div class="data-table-container">

        <table class="data-table">
            <thead>
                <tr class="data-table__clickable-row">
                    <th WIDTH="100">CEP</th>
                    <th WIDTH="100">Cidade</th>
                    <th WIDTH="200">Bairro</th>
                    <th>Logradouro</th>
                </tr>
            </thead>
            <div style="max-height: {{ scrollbarHeight}}px;" lx-scrollbar>
                <tbody ng-repeat="r in resultados">
                    <tr class="data-table__clickable-row">
                        <td>{{r.cep}}</td>
                        <td>{{r.baiNuSequencialIni.locNuSequencial.locNo}}</td>
                        <td>{{r.baiNuSequencialIni.baiNo}}</td>
                        <td>{{r.logNome}}</td>
                    </tr>
                </tbody>
            </div>
        </table>


    </div>

</div>

